@import "../../../../partials/variables";

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-bottom: 5rem;
}

@media only screen and (max-width: $bp-tablet) {
}
