<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink="/">Home</a>
  </li>
  <li routerLinkActive="active"><a [routerLink]="['/events']">Events</a></li>
  <li *ngIf="(auth.user$ | async) as user" routerLinkActive="active">
    <a [routerLink]="['/manage']">Admin Event Dashboard</a>
  </li>
  <li *ngIf="(auth.user$ | async) as user" class="right">
    <a (click)="logout()">Logout</a>
  </li>
  <li *ngIf="(auth.user$ | async) as user" class="right">
    <a>Welcome , {{ user.displayName }}</a>
  </li>
  <li *ngIf="!(auth.user$ | async) as user" class="right">
    <a [routerLink]="['/login']">Login</a>
  </li>
</ul>
