.event-dashboard {
  width: 1024px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px;
  .btn-container {
    text-align: center;
    margin: 10px 0;
  }

  .add-section {
  }
  .update-section {
    overflow: hidden;
    background-color: #fff;
  }
}
