$colors: (
  black: #333,
  white: #fff,
  red: #db2828,
  brown: #5b5651,
  inputBg: #f2f2f2
);

$login-card-width: 360px;
$bp-tablet: 768px;
$bp-tablet-lg: 960px;
$bp-mobile-landscape: 600px;
$bp-mobile-portrait: 500px;
$bp-mobile-xs: 380px;
$bp-large-tab: 1024px;
